@import url(./styles/header.css);
@import url(./styles/variebles.css);

* {
  box-sizing: border-box;
  outline-color: var(--blue-shadow);
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: var(--primary-color);
  background-color: var(--secondary-light-color);
  font-weight: 300;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}
