#message {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #d1deff;
  padding: 80px 20px 70px;
  /* padding: 20px; */
  border-radius: 8px;
}

#message li {
  display: flex;
  align-items: center;
  border-radius: 0 8px 8px;
  flex-grow: unset;
  margin-bottom: 10px;
}

li div {
  display: flex;
  flex-direction: column;
  background-color: #FFECC7;
  border-radius: 0 8px 8px;
  padding: 10px 15px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

li i {
  margin-left: 10px;
  margin-right: 10px;
}

#message li:nth-child(even) div {
  border-radius: 8px 0 8px 8px;
  background-color: white;
}

#message li:nth-child(even) {
  margin-left: auto;
}

li div h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;;
}

li div p {
  color: gray;
  font-size: 10px;
  text-align: end;
}

li:nth-child(even) div p {
  margin-right: auto;
  text-align: left;
}

.fa-heart {
  color: #f8f9fa;
  font-size: 18px;
  text-shadow: 1px 1px 2px black;
  cursor: pointer;
}

#message .fa-heart:hover {
  color: red;
}

#message li .liked {
  color: #FB7185;
}
