.addme {
  font-family: var(--primary-font);
}

.addme__image {
  width: 150px;
  margin: 15px auto;
}

.addme__input {
  background-color: var(--primary-light-color);
  border: 0;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  margin: 10px 0;
  color: var(--primary-text-color);
}

.addme__add-btn {
  color: var(--light-color);
  text-shadow: 1px 1px 2px var(--primary-color);
  font-weight: 500;
  background-color: var(--btn-color);
  border-radius: 8px;
  border: 0;
  padding: 15px;
  max-height: 53.5px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 3px;
  cursor: pointer;
}

.addme__add-btn:hover {
  background-color: var(--btn-hover-color);
}

.addme__shopping-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  color: var(--primary-text-color);
  margin-bottom: 70px;
}

.addme__shopping-list li {
  color: var(--primary-text-color);
  font-size: 20px;
  background-color: var(--item-color);
  background-color: var(--light-color);
  padding: 15px;
  border-radius: 8px;
  flex-grow: 1;
  text-align: center;
  box-shadow: 0px 1px 4px var(--shadow-transparent);
  cursor: pointer;
}

.addme__shopping-list li:hover {
  background-color: var(--secondary-color);
  box-shadow: 1px 2px 4px var(--blue-shadow);
}

.addme__shopping-list .selected {
  background-color: var(--secondary-color);
  box-shadow: 1px 2px 4px var(--blue-shadow);
}

.addme__delete-icon {
  width: 34px;
  height: 34px;
}

.addme__delete-icon:hover {
  box-shadow: 1px 1px 2px var(--primary-color);
  border-radius: 8px;
  cursor: pointer;
}

.addme__delete-btn {
  position: sticky;
  bottom: 50px;
  margin: 0 auto;
  border: none;
  width: 34px;
  height: 34px;
  margin-bottom: 30px; /* delete */
}
